___

<a href='https://mainacademy.ua/'> <img src='https://mainacademy.ua/wp-content/uploads/2019/03/logo-main.png' alt = 'Хмм, щось з інтернетом'/></a>
___

# Module 5: Data analysis with NumPy and Pandas

## Lab work 5.2

#### Мета: 

* навчитися працювати із бібліотекою Pandas в Python.

### Завдання:

In [3]:
import pandas as pd

Вивести версію та конфігурацію бібліотеки:

In [3]:
print(pd.__version__)
print(pd.show_versions(as_json=True))

1.2.4

c:\users\administrator\appdata\local\programs\python\python39\lib\site-packages\setuptools\distutils_patch.py:25: UserWarning: Distutils was imported before Setuptools. This usage is discouraged and may exhibit undesirable behaviors or errors. Please use Setuptools' objects directly or at least import Setuptools first.
  warnings.warn(

{'system': {'commit': '2cb96529396d93b46abab7bbc73a208e708c642e', 'python': '3.9.2.final.0', 'python-bits': 64, 'OS': 'Windows', 'OS-release': '10', 'Version': '10.0.18362', 'machine': 'AMD64', 'processor': 'Intel64 Family 6 Model 69 Stepping 1, GenuineIntel', 'byteorder': 'little', 'LC_ALL': None, 'LANG': None, 'LOCALE': {'language-code': 'Ukrainian_Ukraine', 'encoding': '1251'}}, 'dependencies': {'pandas': '1.2.4', 'numpy': '1.20.2', 'pytz': '2021.1', 'dateutil': '2.8.1', 'pip': '20.2.3', 'setuptools': '49.2.1', 'Cython': None, 'pytest': None, 'hypothesis': None, 'sphinx': None, 'blosc': None, 'feather': None, 'xlsxwriter': None, 'lxml.etree': None, 'html5lib': None, 'pymysql': None, 'psycopg2': None, 'jinja2': '2.11.3', 'IPython': '7.21.0', 'pandas_datareader': None, 'bs4': '4.9.3', 'bottleneck': None, 'fsspec': None, 'fastparquet': None, 'gcsfs': None, 'matplotlib': None, 'numexpr': None, 'odfpy': None, 'openpyxl': None, 'pandas_gbq': None, 'pyarrow': None, 'pyxlsb': None, 's3fs': None, 'scipy': None, 'sqlalchemy': None, 'tables': None, 'tabulate': None, 'xarray': None, 'xlrd': None, 'xlwt': None, 'numba': None}}
None

In [4]:
df = pd.read_csv('Ecommerce Purchases.csv')

Скільки рядків і стовпців в наборі даних:

In [6]:
print(df.dtypes)

Address              object
Lot                  object
AM or PM             object
Browser Info         object
Company              object
Credit Card           int64
CC Exp Date          object
CC Security Code      int64
CC Provider          object
Email                object
Job                  object
IP Address           object
Language             object
Purchase Price      float64
dtype: object

In [11]:
print("Количество строк:", len(df.index))

Количество строк: 10000

In [12]:
print("Количество столбцов:", len(df.columns))

Количество столбцов: 14

Перевірити, чи в наборі даних містяться порожні значення:

In [5]:
print(df.isnull().sum())

Address             0
Lot                 0
AM or PM            0
Browser Info        0
Company             0
Credit Card         0
CC Exp Date         0
CC Security Code    0
CC Provider         0
Email               0
Job                 0
IP Address          0
Language            0
Purchase Price      0
dtype: int64

In [13]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10000 entries, 0 to 9999
Data columns (total 14 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Address           10000 non-null  object
 1   Lot               10000 non-null  object
 2   AM or PM          10000 non-null  object
 3   Browser Info      10000 non-null  object
 4   Company           10000 non-null  object
 5   Credit Card       10000 non-null  int64
 6   CC Exp Date       10000 non-null  object
 7   CC Security Code  10000 non-null  int64
 8   CC Provider       10000 non-null  object
 9   Email             10000 non-null  object
 10  Job               10000 non-null  object
 11  IP Address        10000 non-null  object
 12  Language          10000 non-null  object
 13  Purchase Price    10000 non-null  float64
dtypes: float64(1), int64(2), object(11)
memory usage: 1.1+ MB

In [67]:
df.describe()

        Credit Card  CC Security Code  Purchase Price
count  1.000000e+04      10000.000000    10000.000000
mean   2.341374e+15        907.217800       50.347302
std    2.256103e+15       1589.693035       29.015836
min    6.040186e+10          0.000000        0.000000
25%    3.056322e+13        280.000000       25.150000
50%    8.699942e+14        548.000000       50.505000
75%    4.492298e+15        816.000000       75.770000
max    6.012000e+15       9993.000000       99.990000

Яка середня ціна закупки (Purchase Price):

In [41]:
df['Purchase Price'].mean()

50.347302

Скільки людей користуються англійською мовою "en" на веб-сайті:

In [33]:
df['Language'].value_counts()

de    1155
ru    1155
el    1137
pt    1118
en    1098
fr    1097
es    1095
it    1086
zh    1059
Name: Language, dtype: int64

In [54]:
df.query('Language == "en"').Language.count()

1098

Скільки людей має посаду «Lawyer»?

In [55]:
df.query('Job == "Lawyer"').Job.count()

30

Скільки людей зробило покупку вранці та скільки людей зробило покупку після обіду?

In [109]:
df[df['AM or PM'] == "AM"]['AM or PM'].count()

4932

In [110]:
df[df['AM or PM'] == "PM"]['AM or PM'].count()

5068

Які 5 найпоширеніших назв вакансій?

In [89]:
df['Job'].value_counts()[0:5]

Interior and spatial designer        31
Lawyer                               30
Social researcher                    28
Purchasing manager                   27
Research officer, political party    27
Name: Job, dtype: int64

Хтось здійснив покупку, яка надійшла від Lot: "90 Wt", та якою була ціна придбання для цієї транзакції?

In [113]:
df[df['Lot'] == "90 WT"]['Purchase Price']

513    75.1
Name: Purchase Price, dtype: float64

In [115]:
df.query('Lot == "90 WT"')

,Address,Lot,AM or PM,Browser Info,Company,Credit Card,CC Exp Date,CC Security Code,CC Provider,Email,Job,IP Address,Language,Purchase Price
513,"50398 Mccoy Rest Suite 597\nSouth Garyborough,...",90 WT,AM,Mozilla/5.0 (iPod; U; CPU iPhone OS 3_2 like M...,Bright PLC,630438419693,11/19,173,American Express,jesse00@page.net,Energy engineer,156.70.208.94,ru,75.1

Яка електронна адреса особи з таким номером кредитної картки: 4926535242672853 ?

In [116]:
df[df['Credit Card'] == 4926535242672853]['Email'].values[0]

'bondellen@williams-garza.com'

Скільки людей використовує American Express  і здійснили покупку на суму понад 100 доларів?

In [132]:
df[(df['CC Provider'] == 'American Express') & [(df['Purchase Price'] >= "100.00")].count()

SyntaxError: unexpected EOF while parsing (<ipython-input-132-8499e1c12eb6>, line 1)

In [125]:
df[(df['CC Provider'] == 'American Express')].groupby(['Purchase Price']).sum()

                     Credit Card  CC Security Code
Purchase Price
0.07                676142409512               431
0.20            4761160174032527               617
0.32              30358729416723               844
0.35            4748502988851428               437
0.40            6011113696727614               272
...                          ...               ...
99.36           5527104423944290               711
99.69           4807251488895729               948
99.81            180089858618619              2107
99.85           3096946456575623                56
99.97           6011037226242937               757

[816 rows x 2 columns]

Скільки людей мають кредитну картку, термін дії якої закінчується в 2025 році?

In [93]:
def expdate(string):
    return True if "25" in string else False

df[df['CC Exp Date'].map(expdate)].shape[0]

1033

Які найкращі 5 найпопулярніших постачальників / хостів електронної пошти (наприклад, gmail.com, yahoo.com тощо ...).

In [90]:
df['Email'].value_counts()[0:5]

christopher29@gmail.com    2
martinbrian@hotmail.com    2
omathis@yahoo.com          2
lisawilliams@yahoo.com     2
matthewwilson@gmail.com    2
Name: Email, dtype: int64

Виведіть зведену таблицю по браузерах(Browser Info), посаді(Job), та кількості транзакцій :

In [133]:
df.groupby(['Browser Info', 'Job'])['Purchase Price'].agg(['sum', 'count'])

,,sum,count
Browser Info,Job,,
"Mozilla/5.0 (Macintosh; Intel Mac OS X 10_5_0 rv:2.0; sl-SI) AppleWebKit/533.25.6 (KHTML, like Gecko) Version/4.0 Safari/533.25.6","Psychotherapist, dance movement",43.66,1
"Mozilla/5.0 (Macintosh; Intel Mac OS X 10_5_0 rv:4.0; en-US) AppleWebKit/535.34.7 (KHTML, like Gecko) Version/5.0 Safari/535.34.7",Retail merchandiser,97.44,1
"Mozilla/5.0 (Macintosh; Intel Mac OS X 10_5_0 rv:5.0; sl-SI) AppleWebKit/532.10.4 (KHTML, like Gecko) Version/5.0.2 Safari/532.10.4",Firefighter,48.38,1
"Mozilla/5.0 (Macintosh; Intel Mac OS X 10_5_0 rv:6.0; en-US) AppleWebKit/533.45.4 (KHTML, like Gecko) Version/4.1 Safari/533.45.4",Broadcast presenter,74.68,1
"Mozilla/5.0 (Macintosh; Intel Mac OS X 10_5_0) AppleWebKit/5321 (KHTML, like Gecko) Chrome/14.0.824.0 Safari/5321","Development worker, international aid",31.23,1
...,...,...,...
Opera/9.99.(X11; Linux i686; sl-SI) Presto/2.9.186 Version/12.00,Company secretary,8.36,1
Opera/9.99.(X11; Linux x86_64; en-US) Presto/2.9.172 Version/12.00,Dramatherapist,70.40,1
Opera/9.99.(X11; Linux x86_64; en-US) Presto/2.9.176 Version/10.00,Private music teacher,29.23,1
Opera/9.99.(X11; Linux x86_64; it-IT) Presto/2.9.164 Version/10.00,Hotel manager,49.10,1
Opera/9.99.(X11; Linux x86_64; it-IT) Presto/2.9.190 Version/11.00,"Scientist, forensic",13.30,1

Створіть нову колонку "Actual price", яка утворюється із "Purchase Price" та націнки за принципом:
- якщо "Purchase Price" > 50, націнка 20%
- якщо "Purchase Price" > 100, націнка 10%
- в інших випадках націнка 30%

In [141]:
df.loc[df['Purchase Price'] > 50, 'Actual Price'] = (df['Purchase Price']*0.2)+df['Purchase Price']
df.loc[df['Purchase Price'] > 100, 'Actual Price'] = (df['Purchase Price']*0.1)+df['Purchase Price']
df.loc[df['Purchase Price'] < 50, 'Actual Price'] = (df['Purchase Price']*0.3)+df['Purchase Price']
df.head()

,Address,Lot,AM or PM,Browser Info,Company,Credit Card,CC Exp Date,CC Security Code,CC Provider,Email,Job,IP Address,Language,Purchase Price,Actual Price
0,"16629 Pace Camp Apt. 448\nAlexisborough, NE 77...",46 in,PM,Opera/9.56.(X11; Linux x86_64; sl-SI) Presto/2...,Martinez-Herman,6011929061123406,02/20,900,JCB 16 digit,pdunlap@yahoo.com,"Scientist, product/process development",149.146.147.205,el,98.14,117.768
1,"9374 Jasmine Spurs Suite 508\nSouth John, TN 8...",28 rn,PM,Opera/8.93.(Windows 98; Win 9x 4.90; en-US) Pr...,"Fletcher, Richards and Whitaker",3337758169645356,11/18,561,Mastercard,anthony41@reed.com,Drilling engineer,15.160.41.51,fr,70.73,84.876
2,Unit 0065 Box 5052\nDPO AP 27450,94 vE,PM,Mozilla/5.0 (compatible; MSIE 9.0; Windows NT ...,"Simpson, Williams and Pham",675957666125,08/19,699,JCB 16 digit,amymiller@morales-harrison.com,Customer service manager,132.207.160.22,de,0.95,1.235
3,"7780 Julia Fords\nNew Stacy, WA 45798",36 vm,PM,Mozilla/5.0 (Macintosh; Intel Mac OS X 10_8_0 ...,"Williams, Marshall and Buchanan",6011578504430710,02/24,384,Discover,brent16@olson-robinson.info,Drilling engineer,30.250.74.19,es,78.04,93.648
4,"23012 Munoz Drive Suite 337\nNew Cynthia, TX 5...",20 IE,AM,Opera/9.58.(X11; Linux x86_64; it-IT) Presto/2...,"Brown, Watson and Andrews",6011456623207998,10/25,678,Diners Club / Carte Blanche,christopherwright@gmail.com,Fine artist,24.140.33.94,es,77.82,93.384

Зробіть рангування набору даних по "Language" та "Actual price" в порядку спадання ціни.

https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.rank.html

In [148]:
df[['Actual Price','Language']].rank()

      Actual Price  Language
0           9810.0    1724.0
1           7012.5    5034.0
2            106.5     578.0
3           7745.0    3938.0
4           7721.5    3938.0
...            ...       ...
9995        8148.5    6125.5
9996        2551.0    7227.5
9997        8342.0    1724.0
9998        3875.0    3938.0
9999        6707.0    1724.0

[10000 rows x 2 columns]

Колонку "Language" (категоріальна змінна) "закодуйте", тобто утворити індикаторні колоник. В наборі не повинна залишитися колонка "Language".

https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.rank.html

In [149]:
pd.get_dummies('Language')

   Language
0         1

Кінцевий набір даних збережіть у файл з розширенням csv.

In [150]:
 df.to_csv('Ecommerce Purchases_2.csv')